
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-8">
        <div class="item">
          <p class="title">Нью-Йорк Дентал Центр</p>
          <p>г. Москва</p>
          <p>м. Спортивная, ул. Ефремова 14</p>
          <p>пн-вс: 9:00 - 21:00</p>
          <div class="info"><a href="tel:+74952220495">8 (495) 222-0-495</a><a href="mailto:ny_dentalcenter@mail.ru ">ny_dentalcenter@mail.ru</a></div>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-sm-4">
        <div class="wrap-item">
          <div class="item">
            <p class="title">О клинике</p>
            <ul>
              <li><a href="contacts.html">О нас</a></li>
              <li><a href="#">Специалисты</a></li>
              <li><a href="#">Фотогалерея</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="wrap-item">
          <div class="item last">
            <p class="title">Услуги</p>
            <div>
              <ul>
                <li><a href="#">Консультация</a></li>
                <li><a href="#">Гигиена&nbsp;и&nbsp;профилактика</a></li>
                <li><a href="#">Пародонтология</a></li>
                <li><a href="#">Терапия</a></li>
                <li><a href="#">Эндодонтия</a></li>
              </ul>
              <ul>
                <li><a href="#">Хирургия</a></li>
                <li><a href="#">Протезирование</a></li>
                <li><a href="#">Ортопедия</a></li>
                <li><a href="#">Ортодонтия</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p class="consult">18+ ВОЗМОЖНЫ ПРОТИВОПОКАЗАНИЯ. ТРЕБУЕТСЯ КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА</p>
      </div>
    </div>
  </div>
  <div class="last-stage">
    <div class="container">
      <p>©2022 Нью-Йорк Дентал Центр</p>
      <ul>
        <li><a href="#"><img src="../img/vk.svg"/></a></li>
        <li><a href="#"><img src="../img/tg.svg"/></a></li>
        <li><a href="#"><img src="../img/wa.svg"/></a></li>
      </ul>
    </div>
  </div>
</footer>