footer
    .container
        .row
            .col-lg-4.col-md-12.col-sm-8
                .item
                    p.title Нью-Йорк Дентал Центр
                    p г. Москва
                    p м. Спортивная, ул. Ефремова 14
                    p пн-вс: 9:00 - 21:00
                    .info
                        a(href="tel:+74952220495") 8 (495) 222-0-495
                        a(href="mailto:ny_dentalcenter@mail.ru ") ny_dentalcenter@mail.ru
            .col-lg-2.offset-lg-1.col-sm-4
                .wrap-item
                    .item
                        p.title О клинике
                        ul
                            li
                                a(href='contacts.html') О нас
                            li
                                a(href='#') Специалисты
                            li
                                a(href='#') Фотогалерея
            .col-lg-4.col-md-8
                .wrap-item
                    .item.last
                        p.title Услуги
                        div
                            ul
                                li
                                    a(href='#') Консультация
                                li
                                    a(href='#') Гигиена&nbsp;и&nbsp;профилактика
                                li
                                    a(href='#') Пародонтология
                                li
                                    a(href='#') Терапия
                                li
                                    a(href='#') Эндодонтия
                            ul
                                li
                                    a(href='#') Хирургия
                                li
                                    a(href='#') Протезирование
                                li
                                    a(href='#') Ортопедия
                                li
                                    a(href='#') Ортодонтия
            .col-12
                p.consult 18+ ВОЗМОЖНЫ ПРОТИВОПОКАЗАНИЯ. ТРЕБУЕТСЯ КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА
    .last-stage
        .container
            p ©2022 Нью-Йорк Дентал Центр
            ul
                li
                    a(href='#')
                        img(src='../img/vk.svg')
                li
                    a(href='#')
                        img(src='../img/tg.svg')
                li
                    a(href='#')
                        img(src='../img/wa.svg')





