script(src='scripts/jquery.min.js')
script(src='scripts/popper.min.js')
script(src='scripts/bootstrap.min.js')
script(src='scripts/jquery.inputmask.bundle.min.js')
script(src='scripts/owl.carousel.min.js')
script(src='scripts/fancybox.umd.js')
script(src='scripts/scroll-lock.min.js')
script(src="scripts/jquery-ui.js")
script(src="scripts/jquery.anyimagecomparisonslider.min.js")
script(src='scripts/masonry.pkgd.min.js')
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")


script(src='scripts/main.js')
script(src='scripts/map.js')
