
<div class="modal-diplom modal fade" tabindex="-1" role="dialog" data-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button class="close-popup" type="button" data-dismiss="modal" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M18.25 1.75195L1.75085 18.2511" stroke="#202020" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"></path>
          <path d="M1.75 1.75L18.2492 18.2492" stroke="#202020" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"></path>
        </svg>
      </button>
      <div class="modal-body">
        <p class="title">Дипломы доктора</p>
        <div class="diplom-slider owl-carousel owl-theme"><a class="item" data-fancybox="gallery" href="../img/doc1.png"><img src="../img/doc1.png"/></a><a class="item" data-fancybox="gallery" href="../img/doc2.png"><img src="../img/doc2.png"/></a><a class="item" data-fancybox="gallery" href="../img/doc3.png"><img src="../img/doc3.png"/></a><a class="item" data-fancybox="gallery" href="../img/doc4.png"><img src="../img/doc4.png"/></a><a class="item" data-fancybox="gallery" href="../img/doc5.png"><img src="../img/doc5.png"/></a></div>
      </div>
    </div>
  </div>
</div>