
<script src="scripts/jquery.min.js"></script>
<script src="scripts/popper.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/jquery.inputmask.bundle.min.js"></script>
<script src="scripts/owl.carousel.min.js"></script>
<script src="scripts/fancybox.umd.js"></script>
<script src="scripts/scroll-lock.min.js"></script>
<script src="scripts/jquery-ui.js"></script>
<script src="scripts/jquery.anyimagecomparisonslider.min.js"></script>
<script src="scripts/masonry.pkgd.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="scripts/main.js"></script>
<script src="scripts/map.js"></script>