.modal-callback.modal.fade(tabindex="-1" role="dialog" data-keyboard="false" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            button.close-popup(type="button" data-dismiss="modal" aria-hidden="true")
                svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                    path(d="M18.25 1.75195L1.75085 18.2511" stroke="#202020" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel")
                    path(d="M1.75 1.75L18.2492 18.2492" stroke="#202020" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel")
            .modal-body
                form
                    p.title Записаться на прием
                    .group
                        label Ваше имя
                        input(type="text" name="name")
                    .group
                        label Телефон
                        input(type="text" name="phone")
                    input.btn(type="submit" value="Отправить заявку")



